*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7D298A;
    --pink-low: #3F0F41;
    --blue-light: #73B6D2;
    --blue-base: #358BB9;
    --blue-mid: #2374A4;
    --blue-dark: #144A72;
    --blue-low: #08233C;
    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000F1F;
    --shape-bg: #00050A;
    --color-text-title: #F8FBFB;
    --color-text-body: #E2E7E9;
    --color-text-label: #BAC6C9;

    --font-family: "Raleway", sans-serif;
    --title-lg: 700 48px var(--font-family);
    --title-md: 700 40px var(--font-family);
    --title-sm: 700 32px var(--font-family);
    --title-xs: 700 16px var(--font-family);
    --subtitle: 500 32px/200% var(--font-family);
    --body-lg: 500 20px/140% var(--font-family);
    --body-md: 500 16px/140% var(--font-family);
    --body-sm: 500 14px/140% var(--font-family);
    --body-xs: 500 12px/140% var(--font-family);
    --button: 700 14px var(--font-family);
    --link: 500 14px var(--font-family);
    --tag: 700 10px var(--font-family);
}

body {
    background-color: var(--shape-bg);
    font: var(--body-md);
    color: var(--color-text-body);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}