.blur-purple {
    width: 14px;
    height: 14px;
    position: relative;
    img {
        width: 14px;
        height: 14px;
        opacity: 0.8;
    }
    &::after {
        content: "";
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: radial-gradient(rgba(143, 59, 158, 0.5), rgba(143, 59, 158, 0.0));
        filter: blur(7px);
        /* z-index: -1; */
    }
}
.blur-blue {
    width: 14px;
    height: 14px;
    position: relative;
    img {
        width: 14px;
        height: 14px;
        opacity: 0.8;
    }
    &::after {
        content: "";
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: radial-gradient(rgba(53, 139, 185, 0.5), rgba(53, 139, 185, 0.0));
        filter: blur(7px);
        /* z-index: -1; */
    }
}

#plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-block: 194px 102px;
    background-image: url(../assets/pricing-background.png);
    background-size: cover;

    h2 {
        text-align: center;
        font: var(--title-sm);
    }
    .container-plans {
        box-sizing: content-box;
        padding: 80px 350px 100px;
        width: 288px;
        height: 416px;
        position: relative;
        &:hover {
            .plano-semestral {
                transform: translateY(-10px);
            }
            .plano-mensal {
                transform: translate(-290px, 57px) rotate(-8deg);
            }
            .plano-anual {
                transform: translate(290px, 57px) rotate(8deg);
            }
        }
    }
}

.card {
    position: absolute;
    padding: 32px 32px 28px;
    width: 288px;
    height: 416px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 350ms ease-in-out;
    /* animation: ease-in-out forwards;
    animation-timeline: view();
    animation-range: entry 30% entry; */

    .top-card, .bottom-card {
        position: relative;
    }
    h3 {
        margin-bottom: 24px;
        font: var(--title-xs);
    }
    .price {
        margin-bottom: 8px;
        font: var(--title-md);
        span {
            font: var(--title-xs);
        }
    }
    .price-all {
        font: var(--bory-sm);
        color: var(--color-text-label);
    }
    ul {
        margin-bottom: 24px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
        li{
            display: flex;
            align-items: center;
            gap: 8px;
            font: var(--body-xs);
        }
    }
    .button {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.plano-semestral {
    /* animation-name: plano-semestral; */
    background-color: var(--shape-hover);
    z-index: 2;
    h3 {
        color: var(--pink-light);
    }
    .plan-indication {
        position: absolute;
        top: -8px;
        right: -8px;
        font: var(--tag);
        color: var(--text-body);
        padding: 9px 20px;
        border-radius: 999px;
        background-color: var(--shape-stroke);
    }
    img[src*="bunny"] {
        position: absolute;
        top: -82px;
    }
}
.plano-mensal, .plano-anual {
    background-color: var(--shape-base);
    border: 1px solid var(--shape-stroke);
    h3 {
        color: var(--blue-light);
    }
}
.plano-mensal { /* esquerda */
    /* animation-name: plano-mensal; */
    .star-01 {
        position: absolute;
        width: 26px;
        height: 26px;
        top: -51px;
        left: -83px;
    }
    .star-02 {
        position: absolute;
        width: 13px;
        height: 13px;
        top: -13px;
        left: -86px;
    }
}
.plano-anual { /* direita */
    /* animation-name: plano-anual; */
    .star-01 {
        position: absolute;
        width: 26px;
        height: 26px;
        bottom: -62px;
        right: -74px;
    }
    .star-02 {
        position: absolute;
        width: 13px;
        height: 13px;
        right: -29px;
        bottom: -62px;
    }
}

/* @keyframes plano-semestral {
    to {
        transform: translateY(-10px);
    }
}
@keyframes plano-mensal {
    to {
        transform: translate(-290px, 57px) rotate(-8deg);
    }
}
@keyframes plano-anual {
    to {
        transform: translate(290px, 57px) rotate(8deg);
    }
} */

#plans .container-plans:hover .plano-mensal:hover {
    box-shadow: 0px 0px 66px rgba(53, 139, 185, 0.1);
    transform: translate(-290px, 47px) rotate(-8deg);
    background-color: var(--shape-hover);
    z-index: 5;
}
#plans .container-plans:hover .plano-anual:hover {
    box-shadow: 0px 0px 66px rgba(53, 139, 185, 0.1);
    transform: translate(290px, 47px) rotate(8deg) ;
    background-color: var(--shape-hover);
    z-index: 5;
}
#plans .container-plans:hover .plano-semestral:hover {
    box-shadow: 0px 0px 66px rgba(53, 139, 185, 0.1);
    transform: translateY(-20px);
    z-index: 5;
}

@media (width <= 1280px) {
    #plans {
        padding-block: 0;
        .container-plans {
            padding: 50px 0 50px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        gap: 0px;
        .plano-semestral {
            transform: translate(0, 0) scale(0.7);
        }
        .plano-mensal {
            transform: translate(-20px, 20px) rotate(-8deg) scale(0.7);
        }
        .plano-anual {
            transform: translate(20px, 20px) rotate(8deg) scale(0.7);
        }
        .container-plans:hover {
            .plano-semestral {
                transform: translate(0px, 0) scale(0.5);
            }
            .plano-mensal {
                transform: translate(-70px, 40px) rotate(-10deg) scale(0.5);
            }
            .plano-anual {
                transform: translate(100px, -40px) rotate(10deg) scale(0.5);
            }
        }
        .container-plans:hover {
            .plano-semestral:hover {
                transform: translate(0px, 0) scale(0.8);
            }
            .plano-mensal:hover {
                transform: translate(-80px, 0px) rotate(0deg) scale(0.8);
            }
            .plano-anual:hover {
                transform: translate(80px, 0px) rotate(0deg) scale(0.8);
            }
        }
    }
    .card {
        padding: 32px 28px;
        width: 272px;
        height: 400px;
    }
}